In [1]:
import pandas as pd 
import numpy as np

In [3]:
df = pd.read_csv("C:\\Users\\sanjay\\Downloads\\Airplane Crashes Analysis.csv",encoding='latin')
df

,Date,Time,Location,Operator,Flight #,Route,AC Type,Registration,cn-ln,Aboard,Aboard Passangers,Aboard Crew,Fatalities,Fatalities Passangers,Fatalities Crew,Ground,Summary
0,9-17-1908,17:18,"Fort Myer, Virginia",Military - U.S. Army,NaN,Demonstration,Wright Flyer III,NaN,1,2.0,1.0,1.0,1.0,1.0,0.0,0.0,"During a demonstration flight, a U.S. Army fly..."
1,09-07-1909,NaN,"Juvisy-sur-Orge, France",NaN,NaN,Air show,Wright Byplane,SC1,NaN,1.0,0.0,1.0,1.0,0.0,0.0,0.0,Eugene Lefebvre was the first pilot to ever be...
2,07-12-1912,06:30,"Atlantic City, New Jersey",Military - U.S. Navy,NaN,Test flight,Dirigible,NaN,NaN,5.0,0.0,5.0,5.0,0.0,5.0,0.0,First U.S. dirigible Akron exploded just offsh...
3,08-06-1913,NaN,"Victoria, British Columbia, Canada",Private,NaN,NaN,Curtiss seaplane,NaN,NaN,1.0,0.0,1.0,1.0,0.0,1.0,0.0,The first fatal airplane accident in Canada oc...
4,09-09-1913,18:30,Over the North Sea,Military - German Navy,NaN,NaN,Zeppelin L-1 (airship),NaN,NaN,20.0,NaN,NaN,14.0,NaN,NaN,0.0,The airship flew into a thunderstorm and encou...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4993,11-21-2022,10:15,"Medellín, Colombia",AeroPaca SAS,NaN,Medellín - Pizarro,Piper PA-31-350 Navajo Chieftain,HK-5121,31-7652004,8.0,6.0,2.0,8.0,6.0,2.0,0.0,The plane was chartered to carry a team of six...
4994,1-15-2023,10:50,"Pokhara, Nepal",Yeti Airlines,YT691,Kathmandu - Pokhara,ATR 72-500-72-212-A,9NANC,754,72.0,68.0,4.0,72.0,68.0,4.0,0.0,"Before approach, the pilot requested a change ..."
4995,9-16-2023,NaN,"Barcelos, Brazil",Manaus Aerotaxi,NaN,NaN,Embraer EMB-110P1 Bandeirante,PT-SOG,110490,14.0,12.0,2.0,14.0,12.0,2.0,0.0,The air taxi crashed in heavy rain while attem...
4996,10-29-2023,06:30,"Rio Branco, Brazil",ART Taxi Aero,NaN,Rio Branco - Envira,Cessna 208B Grand Caravan,PT-MEE,208B0344,12.0,10.0,2.0,12.0,10.0,2.0,0.0,The air taxi crashed into a heavy wooded area ...
4997,11-01-2023,14:15,"Morelos, Mexico",Jet Rescue Air Ambulance,NaN,Toluca - Cuernavaca Airport,\tLearjet 35A,XA-IRE,35A-354,4.0,2.0,2.0,4.0,2.0,2.0,0.0,"A business jet operating as an air ambulance, ..."

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4998 entries, 0 to 4997
Data columns (total 17 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Date                   4998 non-null   object
 1   Time                   3486 non-null   object
 2   Location               4994 non-null   object
 3   Operator               4988 non-null   object
 4   Flight #               1329 non-null   object
 5   Route                  4221 non-null   object
 6   AC Type                4983 non-null   object
 7   Registration           4724 non-null   object
 8   cn-ln                  4330 non-null   object
 9   Aboard                 4980 non-null   float64
 10  Aboard Passangers      4769 non-null   float64
 11  Aboard Crew            4772 non-null   float64
 12  Fatalities             4990 non-null   float64
 13  Fatalities Passangers  4756 non-null   float64
 14  Fatalities Crew        4757 non-null   float64
 15  Ground                 4956 non-null   float64
 16  Summary                4934 non-null   object
dtypes: float64(7), object(10)
memory usage: 663.9+ KB

In [10]:
df['Date'] = pd.to_datetime(df['Date'])

In [14]:
df['year'] = df['Date'].dt.year

In [15]:
df.to_csv("C:\\Users\\sanjay\\Downloads\\Airplane.csv", index=False)