In [3]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv("C:\\Users\\sanja\\Downloads\\details.csv")
df.head(15)

,match_id,match_name,current_innings,innings_id,over,ball,runs,isBoundary,isWide,isNoball,...,batsman1_runs,batsman1_balls,bowler1_name,bowler1_overs,bowler1_maidens,bowler1_runs,bowler1_wkts,batsman2_name,batsman2_runs,batsman2_balls
0,1298179,ENG v PAK,PAK,1,1,1,0,False,False,False,...,0,2,Ben Stokes,0.1,0,2,0,Babar Azam,0,0
1,1298179,ENG v PAK,PAK,1,1,1,1,False,True,False,...,0,1,Ben Stokes,0.0,0,2,0,Babar Azam,0,0
2,1298179,ENG v PAK,PAK,1,1,1,1,False,False,True,...,0,1,Ben Stokes,0.0,0,1,0,Babar Azam,0,0
3,1298179,ENG v PAK,PAK,1,1,2,2,False,False,False,...,2,3,Ben Stokes,0.2,0,4,0,Babar Azam,0,0
4,1298179,ENG v PAK,PAK,1,1,3,0,False,False,False,...,2,4,Ben Stokes,0.3,0,4,0,Babar Azam,0,0
5,1298179,ENG v PAK,PAK,1,1,4,1,False,False,False,...,3,5,Ben Stokes,0.4,0,5,0,Babar Azam,0,0
6,1298179,ENG v PAK,PAK,1,1,5,0,False,False,False,...,0,1,Ben Stokes,0.5,0,5,0,Mohammad Rizwan,3,5
7,1298179,ENG v PAK,PAK,1,1,6,3,False,False,False,...,3,2,Ben Stokes,1.0,0,8,0,Mohammad Rizwan,3,5
8,1298179,ENG v PAK,PAK,1,2,1,0,False,False,False,...,3,3,Chris Woakes,0.1,0,1,0,Mohammad Rizwan,3,5
9,1298179,ENG v PAK,PAK,1,2,1,1,False,True,False,...,3,2,Chris Woakes,0.0,0,1,0,Mohammad Rizwan,3,5
10,1298179,ENG v PAK,PAK,1,2,2,0,False,False,False,...,3,4,Chris Woakes,0.2,0,1,0,Mohammad Rizwan,3,5
11,1298179,ENG v PAK,PAK,1,2,3,1,False,False,False,...,4,5,Chris Woakes,0.3,0,2,0,Mohammad Rizwan,3,5
12,1298179,ENG v PAK,PAK,1,2,4,1,False,False,False,...,4,6,Chris Woakes,0.4,0,3,0,Babar Azam,4,5
13,1298179,ENG v PAK,PAK,1,2,5,1,False,False,False,...,5,6,Chris Woakes,0.5,0,4,0,Mohammad Rizwan,4,6
14,1298179,ENG v PAK,PAK,1,2,6,0,False,False,False,...,4,7,Chris Woakes,1.0,0,4,0,Babar Azam,5,6

In [11]:
df.columns

Index(['match_id', 'match_name', 'current_innings', 'innings_id', 'over',
       'ball', 'runs', 'isBoundary', 'isWide', 'isNoball', 'batsman1_name',
       'batsman1_runs', 'batsman1_balls', 'bowler1_name', 'bowler1_overs',
       'bowler1_maidens', 'bowler1_runs', 'bowler1_wkts', 'batsman2_name',
       'batsman2_runs', 'batsman2_balls'],
      dtype='object')

In [5]:
df[['batsman1_name','batsman1_runs']]

            batsman1_name  batsman1_runs
0         Mohammad Rizwan              0
1         Mohammad Rizwan              0
2         Mohammad Rizwan              0
3         Mohammad Rizwan              2
4         Mohammad Rizwan              2
...                   ...            ...
9809   Maheesh Theekshana             11
9810  Dushmantha Chameera              8
9811  Dushmantha Chameera              8
9812  Dushmantha Chameera              8
9813  Dushmantha Chameera              8

[9814 rows x 2 columns]

In [7]:
df.groupby("batsman1_name")['batsman1_runs'].sum().sort_values(ascending=False)

batsman1_name
Virat Kohli             5615
Pathum Nissanka         5094
Max O'Dowd              4491
Glenn Phillips          4408
Jos Buttler             4326
                        ...
Timm van der Gugten        0
Hasan Mahmud               0
Mohammed Shami             0
Fazalhaq Farooqi           0
Danushka Gunathilaka       0
Name: batsman1_runs, Length: 197, dtype: int64